---
import Base from '../../layouts/Base.astro';
import Github from '@components/icon/Github.astro';
import Twitter from '@components/icon/Twitter.astro';

import { Markdown } from 'astro/components';

const title = 'togami2864';
const description = 'togami2864 profile';
// TODO fix
let permalink = 'https://togami2864.github.io/ja/';
---
<Base title={title} description={description} permalink={permalink} lang='ja'>
<section class="intro">
          <h1 class="latest">Hi👋</h1>
          <p>togami2864's website / <a href="/">英語版</a></p>
        </section>
        <section>
          <h1 class="latest">🤔 Who am I?</h1>
          <Markdown>
            ### Student
            東京で電子工学を専攻している大学3年生です。コンピュータ・サイエンスは専門分野ではありませんが自分で勉強しています。

            ### Frontend developer

            web関係のものとは全く関係ないCから始め、html/css、JavaScript、React.jsを学習しました。
            また、フロントエンドエンジニアとしての業務の経験があります。
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🖥️ Skills</h1>
          <Markdown>
          - JavaScript/TypeScript, HTML/CSS
          - React.js,Next.js
          - Frontend testing(Jest, Cypress)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🐬 Activities</h1>
          <Markdown>
          OSS Contiributer
          - aws-amplify/amplify-cli: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Aaws-amplify%2Famplify-cli)
          - rust-lang/rust-clippy: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Arust-lang%2Frust-clippy)
          - withastro/astro: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Awithastro%2Fastro+)

          OSS Author
          - react-ts-github-calendar: [github](https://github.com/togami2864/react-ts-github-calendar)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">👻 Experiences</h1>
          <Markdown>
          ### Merpay,Inc(2021/08 ~ 2021/09)

          Nuxt.jsで作られた加盟店審査用のダッシュボードにCypressを用いたインテグレーションテストを追加しました。

          ### Cybozu,Inc(2021/08 1week)

          Closure Toolsを使った大規模なアプリケーション上にmonorepoを作成し、新規リプレイス中のReactコンポーネントをそこに分離させました。また、ADR(Architecuture Descision)の作成を行いました。

          ### Mixi,Inc(2021/06 ~ 2021/07)

          スポーツ観戦ができるお店を検索できるサービスに携わりました。
          試合日程が変更になったときに、加盟店のオーナーにメールで通知するシステムをRailsで作成しました 。

          ### Wantedly,Inc(2021/03 2weeks)

          Rails上のhaml、SCSS、CoffeeScriptで作成されたフロントエンドを、React.jsとTypeScriptに置き換えました。

          ### snaq.me,Inc(2020/07 ~ 2021/03)

          ReactとTypeScriptでコーポレートサイトを制作しました。

          </Markdown>
        </section>
        <section>
          <h1 class="latest">🔥 Learing now....</h1>
          <Markdown>
          - Rust
          - Compiler
          - Operation System
          </Markdown>
        </section>
        <section>
          <h1 class="latest">❤️ Love</h1>
          <Markdown>
            - 💻 Programming
            - 🌏 OSSへのコントリビュート
            - 🎥 映画
            - 🎤 Fear and loathing in Las Vegas ([watch on YouTube](https://www.youtube.com/watch?v=FLUC8aINF1c)/ [listen on spotify](https://open.spotify.com/artist/5iZSZ19Lnt6iQTDITRF7Mn))
          </Markdown>
        </section>
        <section>
          <h1 class="latest">✔️ Links</h1>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Github/></a>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Twitter/></a>
        </section>
</Base>

<style>
.intro { padding-bottom: 1rem; margin-bottom: 2rem; border-bottom:
      4px solid var(--theme-divider); } .intro > * { margin: 0; } .latest {
      font-size: 2.5rem; font-weight: 700; }
</style>
