---
import Base from '../layouts/Base.astro';
import Github from '@components/icon/Github.astro';
import Twitter from '@components/icon/Twitter.astro';

import Markdown from '@astrojs/markdown-component';

const title = 'togami2864';
const description = 'togami2864 profile';
let permalink = 'https://togami2864.github.io/';
---

<Base title={title} description={description} permalink={permalink} lang="en">
  <section class="intro">
    <h1 class="latest">Hi👋</h1>
    <p>
      This is togami2864's website
    </p>
  </section>
  <section>
    <h1 class="latest">👻 Experience</h1>
    <Markdown>
      ### Merpay(2023/04 ~)
    </Markdown>
    <Markdown>
      ### Plaid(2022/05 ~ 2022/08, 2023/01 ~ 2023/03)
      Building sql inmemory query engine.
      - Rust
      - wasm
      - arrow-rs
      - TypeScript
    </Markdown>
  </section>
  <section>
    <h1 class="latest">🎙️ Talk</h1>
    <Markdown>
      <!-- ### Node schook Tokyo LT(2023/02/28, Japanese)
      Rust製TypeScriptコンパイラ stcの現状と今後([slide](https://speakerdeck.com/yoshiaki_togami/rustzhi-typescriptkonpaira-stcnoxian-zhuang-tojin-hou)) -->

      ### JSConfJP2022 LT(2022/11/26, English)
      [Javascipt Testing Framework: Under the Hood](https://jsconf.jp/2022/talk/javascript-testing-framework-under-the-hood)([slide](https://speakerdeck.com/yoshiaki_togami/javascript-testing-framework-under-the-hood-jsconfjp2022))
    </Markdown>
  </section>
  <section>
    <h1 class="latest">✔️ Links</h1>
    <a
      href="https://github.com/togami2864"
      target="_blank"
      rel="noopener noreferrer"
      ><Github />
    </a>
    <a
      href="https://github.com/togami2864"
      target="_blank"
      rel="noopener noreferrer"
      ><Twitter />
    </a>
  </section>
</Base>

<style>
  .intro > * {
    margin: 0;
  }
  .intro {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }
  .latest {
    font-size: 2.5rem;
    font-weight: 700;
  }
</style>
