---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import Github from '../components/icon/Github.astro';
import Twitter from '../components/icon/Twitter.astro';

import { Markdown } from 'astro/components';

const title = 'Top page';
const description = 'togami2864 profile';
// TODO fix
let permalink = 'https://example.com/';
---

<html lang="ja">
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="stylesheet" href="/blog.css" />

    <style>
      body { width: 100%; display: grid; grid-template-rows: 3.5rem 1fr;
      --gutter: 0.5rem; --doc-padding: 2rem; } header { width: 100%; height:
      100%; background-color: var(--theme-bg-offset); display: flex;
      align-items: center; justify-content: center; } .content { margin-top:
      4rem; margin-bottom: 8rem; } .content :global(main > * + *) { margin-top:
      1rem; } .intro { padding-bottom: 1rem; margin-bottom: 2rem; border-bottom:
      4px solid var(--theme-divider); } .intro > * { margin: 0; } .latest {
      font-size: 2.5rem; font-weight: 700; }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1 class="latest">Hi👋</h1>
          <p>This is togami2864's website</p>
        </section>
        <section>
          <h1 class="latest">🤔 Who am I?</h1>
          <Markdown>
            ### Student
            I'm a junior university student majoring in electronic engineering in Tokyo. Computer science is not my field of expertise,
            but also studying myself about it.

            ### Frontend developer
            I started kind of totally not web staff doing everything from **C** up to
            within **html/css**, **javascript** and **React.js** and have
            experience working with them as an intership student.
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🖥️ Skills</h1>
          <Markdown>
          - JavaScript / TypeScript
          - React.js
          - Next.js
          - Frontend testing(Jest, Cypress)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🐬 Activities</h1>
          <Markdown>
          OSS Contiributer
          - aws-amplify/amplify-cli: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Aaws-amplify%2Famplify-cli)
          - withastro/astro: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Awithastro%2Fastro+)

          OSS Author
          - react-ts-github-calendar: [github](https://github.com/togami2864/react-ts-github-calendar)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">👻 Experiences</h1>
        </section>
        <section>
          <h1 class="latest">🔥 Learing now....</h1>
          <Markdown>
          - C
          - Rust
          - Compiler
          - Operation System
          </Markdown>
        </section>
        <section>
          <h1 class="latest">❤️ Love</h1>
          <Markdown>
            - 💻 Programming
            - 🌏 Contributing to OSS
            - 🎥 Waching Movie
            - 🤿 Scuba diving(Of cource the pandemic ruined all of my plan...)
            - 🎤 Fear and loathing in Las Vegas ([watch on YouTube](https://www.youtube.com/watch?v=FLUC8aINF1c)/ [listen on spotify](https://open.spotify.com/artist/5iZSZ19Lnt6iQTDITRF7Mn))
          </Markdown>
        </section>
        <section>
          <h1 class="latest">✔️ Links</h1>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Github/></a>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Twitter/></a>
        </section>
      </article>
    </div>
    <Footer />
  </body>
</html>
