---
import Base from '../layouts/Base.astro';
import Github from '@components/icon/Github.astro';
import Twitter from '@components/icon/Twitter.astro';

import { Markdown } from 'astro/components';

const title = 'togami2864';
const description = 'togami2864 profile';
let permalink = 'https://togami2864.github.io/';
---

<Base title={title} description={description} permalink={permalink} lang='en'>
  <section class="intro">
    <h1 class="latest">Hi👋</h1>
    <p>This is togami2864's website / <a href="/ja/">switch to JP🇯🇵 Version</a></p>
  </section>
        <section>
          <h1 class="latest">🤔 Who am I?</h1>
          <Markdown>
            ### Student
            I'm a junior university student majoring in electronic engineering in Tokyo. Computer science is not my field of expertise,
            but also studying myself about it.

            ### Frontend developer
            I started with `C` and learned `html/css`, `JavaScript` and `React.js`.
            I also have experience working as a front-end engineer.
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🖥️ Skills</h1>
          <Markdown>
          - JavaScript/TypeScript, HTML/CSS
          - React.js,Next.js
          - Frontend testing(Jest, Cypress)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🐬 Activities</h1>
          <Markdown>
          OSS Contiributer
          - aws-amplify/amplify-cli: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Aaws-amplify%2Famplify-cli)
          - rust-lang/rust-clippy: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Arust-lang%2Frust-clippy)
          - withastro/astro: [Log](https://github.com/pulls?q=involves%3Atogami2864+-user%3Atogami2864+repo%3Awithastro%2Fastro+)

          OSS Author
          - react-ts-github-calendar: [github](https://github.com/togami2864/react-ts-github-calendar)
          </Markdown>
        </section>
        <section>
          <h1 class="latest">👻 Experiences</h1>
          <Markdown>
          ### Merpay,Inc(2021/08 ~ 2021/09)

          Added integration tests using Cypress to the dashboard for merchant review made with Nuxt.js.

          ### Cybozu,Inc(2021/08~ 1week)

          Created a monorepo in the repository using Clousure Tools. I selected the technology, implemented it, and also created the ADR(Architecture Descision Record).

          ### Mixi,Inc(2021/06 ~ 2021/07)

          Our service allows you to search for restaurants where you can watch sports games.
          Created a system in Rails that notifies merchant owners by email when the game schedule changes.

          ### Wantedly,Inc(2021/03~ 2weeks)

          Replaced the frontend created with haml, SCSS, and CoffeeScript on Rails with React.js and TypeScript.

          ### snaq.me,Inc(2020/07 ~ 2021/03)

          Created a corporate website with React and TypeScript.
          </Markdown>
        </section>
        <section>
          <h1 class="latest">🔥 Learing now....</h1>
          <Markdown>
          - Rust
          - Compiler
          - Operation System
          </Markdown>
        </section>
        <section>
          <h1 class="latest">❤️ Love</h1>
          <Markdown>
            - 💻 Programming
            - 🌏 Contributing to OSS
            - 🎥 Waching Movie
            - 🎤 Fear and loathing in Las Vegas ([watch on YouTube](https://www.youtube.com/watch?v=FLUC8aINF1c)/ [listen on spotify](https://open.spotify.com/artist/5iZSZ19Lnt6iQTDITRF7Mn))
          </Markdown>
        </section>
        <section>
          <h1 class="latest">✔️ Links</h1>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Github/></a>
          <a href="https://github.com/togami2864" target="_blank" rel="noopener noreferrer"><Twitter/></a>
        </section>
</Base>

<style>
 .intro > * { margin: 0; }
 .intro { padding-bottom: 1rem; margin-bottom: 2rem; border-bottom:
      4px solid var(--theme-divider); }
 .latest {
      font-size: 2.5rem; font-weight: 700; }
</style>
