---
import Base from '../layouts/Base.astro';
import Github from '@components/icon/Github.astro';
import Twitter from '@components/icon/Twitter.astro';

import Markdown from '@astrojs/markdown-component';

const title = 'togami2864';
const description = 'togami2864 profile';
let permalink = 'https://togami2864.github.io/';
---

<Base title={title} description={description} permalink={permalink} lang="en">
  <section class="intro">
    <h1 class="latest">Hi👋</h1>
    <p>
      This is togami2864's website / <a href="/ja/">switch to JP🇯🇵 Version</a>
    </p>
  </section>
  <section>
    <Markdown>
      I'm a junior university student majoring in electronic
      engineering in Tokyo. Computer science is not my field of expertise, but
      also studying myself about it.
    </Markdown>
  </section>
  <section>
    <h1 class="latest">🖥️ Skills</h1>
    <Markdown>
    </Markdown>
  </section>
  <section>
    <h1 class="latest">🐬 Activities</h1>
    <Markdown>
    </Markdown>
  </section>
  <section>
    <h1 class="latest">👻 Experiences</h1>
    <Markdown>
    </Markdown>
  </section>
  <section>
    <h1 class="latest">🔥 Learing now....</h1>
  </section>
  <section>
    <h1 class="latest">✔️ Links</h1>
    <a
      href="https://github.com/togami2864"
      target="_blank"
      rel="noopener noreferrer"
      ><Github />
    </a>
    <a
      href="https://github.com/togami2864"
      target="_blank"
      rel="noopener noreferrer"
      ><Twitter />
    </a>
  </section>
</Base>

<style>
  .intro > * {
    margin: 0;
  }
  .intro {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }
  .latest {
    font-size: 2.5rem;
    font-weight: 700;
  }
</style>
