<footer id="footer">
<p>This site is launched by <a href="https://astro.build/">Astro</a> &amp; hosted on <a href="https://pages.github.com/">GiHub Pages</a></p>
<small>© togami2864 2021-2023</small>
</footer>

<style>
#footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

p {
  color:var(--color-gray-400);
}
</style>