<footer id="footer">
This site is lunched by <a href="https://astro.build/">Astro</a> &amp; hosted on <a href="https://pages.github.com/">GiHub Pages</a>
</footer>

<style>
#footer{
    text-align: center;
    color:var(--color-gray-400);
}
</style>